CONFIG_ESP_RMAKER_SELF_CLAIM="y"
CONFIG_ESP_RMAKER_ENABLE_CHALLENGE_RESPONSE="n"
CONFIG_ESP_RMAKER_USE_NVS="y"
CONFIG_APP_NETWORK_ASYNCHRONOUS_CONNECTION="y"
CONFIG_BT_ENABLED="y"
CONFIG_BT_NIMBLE_ENABLED="y"
